@model AdventureWorksSales.Web.Models.CreateProductCategory


@{
    ViewBag.Title = "New Category";
}

<h2>New Category</h2>

<div>
    <div>
        @using (Html.BeginForm("NewCategory", "ProductCategory", FormMethod.Post))
        {
            <div>@Html.TextBoxFor(u => u.CategoryName)</div>
            <div><input type="submit" value="Create New" /></div>
        }
    </div>

    @ViewBag.result
</div>

